{
  "branches": [
    "main",
    {
      "name": "staging",
      "prerelease": true
    }
  ],
  "analyzeCommits": "semantic-release-conventional-commits",
  "plugins": [
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "config": "conventional-changelog-conventionalcommits"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci] Update changelog"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "releasedLabels": false
      }
    ]
  ]
}
